
.li_todoItem{
    padding: 29px 0px !important;
}
ul{
    list-style: none !important;
    margin: 0;
    padding: 0 !important;
    height: 370px;
    overflow: scroll;
    overflow-x: hidden;
}
.btn_close{
    margin-left: 200px;
    font-size: 29px;
    margin-left: auto;
}
label{
    display: flex;
    flex-direction: row;
}
.text_todoItem{
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 17px !important;
}
.text_bold{
    font-weight: bold;

}
input{
    width: 24px;
    margin: 0px;
    padding: 0px;
}

.custom-radio-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-family: arial;
}

/* Modificador para dar la imagen de radio */
.custom-radio-checkbox__show--radio {
    background-image: url(./radio-uncheck.png);
}

/* Oculta input original */
.custom-radio-checkbox > .custom-radio-checkbox__input {
    display: none;
}

/* Radio personalizado usando <span> */
.custom-radio-checkbox > .custom-radio-checkbox__show {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
    background-size: cover;
}

/* Cambia el radio personalizado cuando es pulsado */
.otra {
    background-image: url(./radio-check.png);
}
