.flotante{
    z-index: 45p;
}
body{
    margin: 0px;
    padding: 68px 15px 18px 15px;
    width: auto;
    height: auto;
    font-family: 'Poppins', sans-serif !IMPORTANT;
}
h1{
    font-family: 'poppins' !important;
    font-weight: 800 !important;
}
p{
    font-family: 'poppins' !important;
    font-weight: 100;
}
@media only screen and (max-width : 400px)  {
    .App{
        display: flex;
        flex-direction: column;
    }
    p:first-child{
        font-size: 12px ;
        font-weight: 800 ;
    }
    
}
@media only screen and (min-width : 1000px)  {
    .App{
        display: flex;
        flex-direction: row;
        
    }
    ul{
        margin-top: 15px !important;
        height: 370px !important;
    }
    body{
        padding: 60PX;
        background-color: black;
    }
    .ul_donelist{
        height: 370px !important;
        margin-top: 66px !important;
    }
    .sinbordefondo{
        width: 214% !important;
    }
    h1{
        font-size: 50px !important;
    }
    p:first-child{
        font-size: 25px ;
        font-weight: 800 ;
    }
    p{
        font-size: 18px !important;
    }
    .todoDiv{
        width: 40%;
        margin-right: 85px;
    }
    .App>div{
        width: 50%;
    }
}
