
.divTitulo>h1 { 
    font-size: 31px;
    
    padding: 29px 0px 29px 0Px;
    margin: 0px;
}

.divTitulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
}
.divTitulo>p{
    font-size: 12px;
    color: #0088ff;
    padding: 20px 0px 41px 0Px;
    margin: 0px;
    font-weight: 400 !important;
}
.weigthfont{
    font-weight: 400 !important;
}
.text_bold{
    font-weight: bold;

}
.invisible{
    font-size: 10px;
}
.visible {
    font-size: 30px;
}